<!doctype html>
<html lang="en">
	<head>
		<title>WebRTC Profile Picture</title>
	</head>
	<body>
		<video id="myVideoTag" autoplay></video>
		
		<script>
			var myVideoArea = document.querySelector("#myVideoTag");
			
			
		</script>
	</body>
</html>